@model WebLearning.web.Models.User.DashboardModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WebLearning</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/dashboard.css" rel="stylesheet">

    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Navigation ein-/ausblenden</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WebLearning</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>

                    @*<li><a href="#">@Model.Nickname</a></li>*@
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            @Model.Nickname <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Einstellungen</a></li>
                            <li><a href="#">Profil</a></li>
                            <li>@Html.ActionLink("Logout", "Logout", "WebLearning")</li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Suchen...">
                </form>
            </div>
        </div>
    </nav>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WebLearning", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">*@
    @*<ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>*@
    @*<ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink(Model.Nickname, "Profil", "WebLearning")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "WebLearning")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-pills nav-sidebar">
                    <li class="active"><a href="#">Überblick <span class="sr-only">(aktuell)</span><span class="badge">@Model.Aktuelles</span></a></li>
                    <li><a href="#">Community<span class="badge">@Model.Community</span></a></li>
                    <li><a href="#">Nachrichten<span class="badge">@Model.Message</span></a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    @*<li>@Html.ActionLink("NeuesFach", "CreateSubject", "WebLearning")</li>*@
                    <li><a href="#" class="hello">Neues Fach</a></li>
                </ul>
                @if (Model.Fach.Count > 0)
            {
                foreach (var aktFach in Model.Fach)
                {
                    <p class="fachTitle">@aktFach.Name</p>
                    <ul class="nav nav-sidebar">
                        @foreach (var Modul in aktFach.ModulName)
                    {
                        <li><a href="">@Modul.Name</a></li>
                }

                    </ul>
            }
        }

        @*<ul class="nav nav-sidebar">
            <li><a href="">Noch ein Nav-Eintrag</a></li>
            <li><a href="">Und noch einer</a></li>
            <li><a href="">Anderer Nav-Eintrag</a></li>
        </ul>*@
            </div>
        </div>
        @*@Html.ActionLink("CreateSubject", "WebLearning")*@
        <div id="result1"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Web Learning by Fonsei</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Scripts/holder.min.js"></script>
    <script type="text/javascript">
        @*$(document).ready(function () {
            $('.hello').click(function () {
                //alert('Hello');
                $.ajax({
                    type: 'GET',
                    url '@Url.Action("CreateSubject","WebLearning")',
                    success: function (result) {
                        $('#result1').html(result);
                    }
                })
            })
        })*@
    </script>
</body>
</html>
